<table class="table table-striped me-4 mt-4">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Nama Produk</th>
      <th scope="col">Harga Awal</th>
      <th scope="col">Harga Jual</th>
      <th scope="col">Aksi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>01</td>
      <td>Pulsa Rp 5000</td>
      <td>Rp 5000</td>
      <td>Rp 7000</td>
      <td>Detail</td>
    </tr>
  </tbody>
</table>
