<div class="container col-md-7 shadow p-3 mb-5 bg-body rounded bg-light border-success">
  <form class="container col-md-6 p-4" method="post" action="/update?_method=PUT">
    <div class="mb-3">
      <input type="hidden" name="_id" value="<%= costumer.id %>" />
      <input type="text" value="<%= costumer.nama %>" id="disabledTextInput" class="form-control" placeholder="Nama Pelanggan" name="nama" />
    </div>
    <div class="mb-3">
      <input type="text" value="<%= costumer.terima %>" id="disabledTextInput" class="form-control" placeholder="Terima" name="terima" />
    </div>
    <div class="mb-3">
      <input type="text" value="<%= costumer.berikan %>" id="disabledTextInput" class="form-control" placeholder="Berikan" name="berikan" />
    </div>

    <div class="mb-3">
      <button type="submit" onclick="return confirm('yakin')" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
